.success{
    background-color: rgb(35, 163, 157);
}
.danger{
    background-color: rgb(243, 83, 83);
}
.greyCol{
    background-color:rgb(156, 156, 156) ;
}

.normal{
    background-color:rgb(42, 172, 51) ;
}