.ActiveEffect:active {
  transform: scale(96%);
}
.HoverEffect:hover {
  transform: scale(96%);
}
.urdu{
  font-family: 'Noto Nastaliq Urdu', serif;
}

input[type=number]:hover::-webkit-inner-spin-button {  
    width: 30px;
    height: 30px;
}
